.flex_container {
  display: flex;
  padding: 20px;
  background: repeating-linear-gradient(
    -50deg,
    #efeff0 0px,
    #c3c3c4 1px,
    transparent 0.1%,
    transparent 2%
  );
}

.container {
  width: 100%;
  height: auto;
  border: 9px solid var(--formula1_red_color);
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 23px;
  /* border-bottom-right-radius: 23px; */
}

.header {
  position: relative;
  top: -50px;
  left: 0;
  margin-bottom: 0;
  text-align: center;
  background: white;
  width: 20%;
}

.flex_card_container {
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
  height: auto;
  align-content: center;
  padding: 20px;
  row-gap: 100px;
  column-gap: 60px;
}

@media (min-width: 730px) {
  .container {
    margin: 60px;
  }
}
